<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Digital_Video_Recorder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DVR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Digital_Video_Recorder.Properties.Settings>
      <setting name="DeviceID" serializeAs="String">
        <value />
      </setting>
    </Digital_Video_Recorder.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <DVR.Properties.Settings>
      <setting name="SnapshotsPath" serializeAs="String">
        <value>C:\DVR\Snapshots\</value>
      </setting>
      <setting name="ClipsPath" serializeAs="String">
        <value>C:\DVR\Clips\</value>
      </setting>
      <setting name="LogPath" serializeAs="String">
        <value>C:\DVR\</value>
      </setting>
    </DVR.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="DVREntities" connectionString="metadata=res://*/EF.DVRModel.csdl|res://*/EF.DVRModel.ssdl|res://*/EF.DVRModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DVR;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;multipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>